{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <main class="col-md-12 pt-3">
        <h1>投稿前にインスタ映えをチェック！！</h1>
        <form action="/result" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="FormControlFile">写真を選択する</label>
            <input type="file" name="file" class="form-control-file" id="FormControlFile">
          </div>
          <button type="submit" class="btn btn-primary">チェック！</button>
        </form>
      </main>
    </div>
  </div>
{% endblock %}
